.header {
  font-family: "Inter", sans-serif;
}
.header .header__nav .header__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 46px 96px 0px 93px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content .nav .nav__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53.49px;
}
.header__content .nav .nav__menu .nav-item .nav-link {
  color: #606060;
  font-size: 17.829px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 150%;
}
.header__content .header__input-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__content .header__input-buttons .input__item {
  max-width: 348px;
  padding: 17px 81.64px 17px 69.81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background: #EDEDED;
}
.header__content .header__input-buttons .input__item .search-item {
  background: #EDEDED;
  caret-color: #C2C3CB;
  color: #C2C3CB;
}
.header__content .header__input-buttons .input__item .search-item::-webkit-input-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item::-moz-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item:-ms-input-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item::-ms-input-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item::placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .connect__wallet {
  color: #fff;
  font-size: 16.172px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  background: #141416;
  padding: 16.172px 24.258px;
  border-radius: 16.172px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
}

.hero {
  background: #F9F9F9;
}
.hero .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 98px;
}
.hero .main__container .hero__content {
  overflow: hidden;
  padding-top: 113px;
  padding-bottom: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.hero .main__container .hero__content .hero__information-block {
  max-width: 567px;
}
.hero .main__container .hero__content .hero__information-block .hero__title {
  font-size: 75px;
  color: #141416;
  line-height: 120%;
  text-transform: capitalize;
  letter-spacing: -3px;
  font-weight: 600;
  padding-bottom: 16px;
}
.hero .main__container .hero__content .hero__information-block .hero__title::before {
  content: "";
  width: 195px;
  height: 1px;
  background: #C2C3CB;
  display: block;
  margin-bottom: 10px;
}
.hero .main__container .hero__content .hero__information-block .hero__subtitle {
  max-width: 499px;
  font-family: "Inter";
  font-size: 18px;
  color: #696969;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 45px;
}
.hero .main__container .hero__content .hero__information-block .hero__subtitle .subtitle-mark {
  font-family: "Inter";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #141416;
}
.hero .main__container .hero__content .hero__information-block .hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  padding-bottom: 82px;
}
.hero .main__container .hero__content .hero__information-block .hero__buttons .explore__more {
  color: #fff;
  font-size: 16.172px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  background: #141416;
  padding: 16.172px 24.258px;
  border-radius: 16.172px;
  font-weight: 500;
  padding: 18px 29px;
}
.hero .main__container .hero__content .hero__information-block .hero__buttons .create {
  border-radius: 12.412px;
  border: 1.5px solid #000;
  padding: 17px 21px;
  background: transparent;
  letter-spacing: 0.163px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16.172px;
}
.hero .main__container .hero__content .hero__information-block .hero__ratings-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}
.hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-title {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  line-height: 125%;
  font-size: 36.771px;
}
.hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-subitem {
  font-family: "Inter";
  color: #848586;
  font-weight: 500;
  line-height: 150%;
  font-size: 12.257px;
}
.hero .main__container .hero__content .hero__images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 71.5px;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .first-image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 17.247px;
  background: #FCFCFD;
  padding: 21.558px;
  -webkit-box-shadow: 0px 43.11688px 34.49351px -25.87013px rgba(15, 15, 15, 0.12);
          box-shadow: 0px 43.11688px 34.49351px -25.87013px rgba(15, 15, 15, 0.12);
  width: 166px;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu .left-arrow,
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu .right-arrow {
  background: transparent;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu .gray-line {
  width: 2.156px;
  height: 25.87px;
  border-radius: 2.156px;
  background: #E6E8EC;
}
.hero .main__container .hero__content .hero__images-block .hero__second-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.hero .main__container .hero__content .hero__images-block .hero__second-item .second__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
}
.hero .main__container .hero__content .hero__images-block .hero__second-item .second__nft-image {
  max-width: 100%;
  position: relative;
  left: 10px;
  height: 322px;
}