.header {
  background: #F9F9F9;
  font-family: "Inter", sans-serif;
}
.header .header__nav .header__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 46px 96px 0px 93px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content .nav .nav__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53.49px;
}
.header__content .nav .nav__menu .nav-item .nav-link {
  color: #606060;
  font-size: 17.829px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 150%;
}
.header__content .header__input-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__content .header__input-buttons .input__item {
  max-width: 348px;
  padding: 17px 81.64px 17px 69.81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background: #EDEDED;
}
.header__content .header__input-buttons .input__item .search-item {
  background: #EDEDED;
  caret-color: #C2C3CB;
  color: #C2C3CB;
}
.header__content .header__input-buttons .input__item .search-item::-webkit-input-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item::-moz-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item:-ms-input-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item::-ms-input-placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .input__item .search-item::placeholder {
  color: #C2C3CB;
  font-size: 15.711px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.314px;
}
.header__content .header__input-buttons .connect__wallet {
  color: #fff;
  font-size: 16.172px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  background: #141416;
  padding: 16.172px 24.258px;
  border-radius: 16.172px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
}

.hero {
  background: #F9F9F9;
}
.hero .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 98px;
}
.hero .main__container .hero__content {
  overflow: hidden;
  padding-top: 113px;
  padding-bottom: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.hero .main__container .hero__content .hero__information-block {
  max-width: 567px;
}
.hero .main__container .hero__content .hero__information-block .hero__title {
  font-size: 75px;
  color: #141416;
  line-height: 120%;
  text-transform: capitalize;
  letter-spacing: -3px;
  font-weight: 600;
  padding-bottom: 16px;
}
.hero .main__container .hero__content .hero__information-block .hero__title::before {
  content: "";
  width: 195px;
  height: 1px;
  background: #C2C3CB;
  display: block;
  margin-bottom: 10px;
}
.hero .main__container .hero__content .hero__information-block .hero__subtitle {
  max-width: 499px;
  font-family: "Inter";
  font-size: 18px;
  color: #696969;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 45px;
}
.hero .main__container .hero__content .hero__information-block .hero__subtitle .subtitle-mark {
  font-family: "Inter";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #141416;
}
.hero .main__container .hero__content .hero__information-block .hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  padding-bottom: 82px;
}
.hero .main__container .hero__content .hero__information-block .hero__buttons .explore__more {
  color: #fff;
  font-size: 16.172px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 600;
  background: #141416;
  padding: 16.172px 24.258px;
  border-radius: 16.172px;
  font-weight: 500;
  padding: 18px 29px;
}
.hero .main__container .hero__content .hero__information-block .hero__buttons .create {
  border-radius: 12.412px;
  border: 1.5px solid #000;
  padding: 17px 21px;
  background: transparent;
  letter-spacing: 0.163px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16.172px;
}
.hero .main__container .hero__content .hero__information-block .hero__ratings-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}
.hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-title {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  line-height: 125%;
  font-size: 36.771px;
}
.hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-subitem {
  font-family: "Inter";
  color: #848586;
  font-weight: 500;
  line-height: 150%;
  font-size: 12.257px;
}
.hero .main__container .hero__content .hero__images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 71.5px;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .first-image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 17.247px;
  background: #FCFCFD;
  padding: 21.558px;
  -webkit-box-shadow: 0px 43.11688px 34.49351px -25.87013px rgba(15, 15, 15, 0.12);
          box-shadow: 0px 43.11688px 34.49351px -25.87013px rgba(15, 15, 15, 0.12);
  width: 166px;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu .left-arrow,
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu .right-arrow {
  background: transparent;
}
.hero .main__container .hero__content .hero__images-block .hero__first-item .hero__arrows-menu .gray-line {
  width: 2.156px;
  height: 25.87px;
  border-radius: 2.156px;
  background: #E6E8EC;
}
.hero .main__container .hero__content .hero__images-block .hero__second-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.hero .main__container .hero__content .hero__images-block .hero__second-item .second__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 63px;
}
.hero .main__container .hero__content .hero__images-block .hero__second-item .second__nft-image {
  max-width: 100%;
  position: relative;
  left: 10px;
  height: 322px;
}

.weekly {
  overflow: hidden;
  background: #F1F1F1;
  padding-bottom: 89px;
}
.weekly .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.weekly__content .weekly__title-item {
  padding-top: 70px;
  padding-bottom: 100px;
}
.weekly__content .weekly__title-item .weekly-title {
  -webkit-font-feature-settings: "clig" off, "liga" off;
          font-feature-settings: "clig" off, "liga" off;
  font-size: 45px;
  text-align: center;
  line-height: 60%;
  font-weight: 600;
  color: #C5C5C5;
}
.weekly__content .weekly__cards-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
  padding-bottom: 115px;
}
.weekly__content .weekly__cards-items .weekly__card {
  padding-left: 9px;
  padding-right: 9px;
  width: 281.126px;
  height: 402.281px;
  -webkit-box-shadow: 38.81659px 11.7626px 58.81301px 0px rgba(199, 199, 199, 0.6);
          box-shadow: 38.81659px 11.7626px 58.81301px 0px rgba(199, 199, 199, 0.6);
  border-radius: 23.479px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.weekly__content .weekly__cards-items .weekly__card .card-rating {
  background: url(/images/Weekly\ Images/first.png), lightgray 50%/cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
}
.weekly__content .weekly__cards-items .weekly__card .card-rating .card-rating--title {
  padding: 9px 14px;
  text-align: right;
  display: block;
  line-height: 150%;
  letter-spacing: 0.118px;
  color: #fff;
  font-weight: 500;
  font-size: 14.115px;
  border-radius: 9.41px;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  -webkit-box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
          box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(2.3525207043px);
          backdrop-filter: blur(2.3525207043px);
  max-width: 119px;
  margin-top: 15px;
  margin-left: 130px;
}
.weekly__content .weekly__cards-items .weekly__card .card__title {
  color: #141416;
  font-weight: 600;
  line-height: 140%;
  font-size: 21.173px;
  padding-bottom: 15px;
  padding-top: 23px;
}
.weekly__content .weekly__cards-items .weekly__card .current__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.weekly__content .weekly__cards-items .weekly__card .current__item .current-title {
  font-size: 14.115px;
  line-height: 150%;
  color: #94A3B8;
  letter-spacing: 0.118px;
}
.weekly__content .weekly__cards-items .weekly__card .current__item .current-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5px;
}
.weekly__content .weekly__cards-items .weekly__card .current__item .current-block .current-subitem {
  color: #141416;
  font-weight: 500;
  line-height: 150%;
  font-size: 16.172px;
}
.weekly__content .weekly__cards-items .weekly__card .current__item .current {
  max-width: 121px;
  color: #fff;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.118px;
  padding: 9.41px 18.82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 11.763px;
  background: #141416;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11.763px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin-right: 15px;
}
.weekly__content .hero__arrows-menu {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 17.247px;
  background: #FCFCFD;
  padding: 21.558px;
  -webkit-box-shadow: 0px 43.11688px 34.49351px -25.87013px rgba(15, 15, 15, 0.12);
          box-shadow: 0px 43.11688px 34.49351px -25.87013px rgba(15, 15, 15, 0.12);
  width: 166px;
}
.weekly__content .hero__arrows-menu .left-arrow,
.weekly__content .hero__arrows-menu .right-arrow {
  background: transparent;
}
.weekly__content .hero__arrows-menu .gray-line {
  width: 2.156px;
  height: 25.87px;
  border-radius: 2.156px;
  background: #E6E8EC;
}

.two-card {
  background: url(/images/Weekly\ Images/second.png), lightgray 50%/cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
}
.two-card .card-rating--title {
  padding: 9px 14px;
  text-align: right;
  display: block;
  line-height: 150%;
  letter-spacing: 0.118px;
  color: #fff;
  font-weight: 500;
  font-size: 14.115px;
  border-radius: 9.41px;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  -webkit-box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
          box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(2.3525207043px);
          backdrop-filter: blur(2.3525207043px);
  max-width: 119px;
  margin-top: 15px;
  margin-left: 130px;
}

.third-card {
  background: url(/images/Weekly\ Images/third.png), lightgray 50%/cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
}
.third-card .card-rating--title {
  padding: 9px 14px;
  text-align: right;
  display: block;
  line-height: 150%;
  letter-spacing: 0.118px;
  color: #fff;
  font-weight: 500;
  font-size: 14.115px;
  border-radius: 9.41px;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  -webkit-box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
          box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(2.3525207043px);
          backdrop-filter: blur(2.3525207043px);
  max-width: 119px;
  margin-top: 15px;
  margin-left: 130px;
}

.four-card {
  background: url(/images/Weekly\ Images/four.png), lightgray 50%/cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
}
.four-card .card-rating--title {
  padding: 9px 14px;
  text-align: right;
  display: block;
  line-height: 150%;
  letter-spacing: 0.118px;
  color: #fff;
  font-weight: 500;
  font-size: 14.115px;
  border-radius: 9.41px;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  -webkit-box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
          box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(2.3525207043px);
          backdrop-filter: blur(2.3525207043px);
  max-width: 119px;
  margin-top: 15px;
  margin-left: 130px;
}

.five-card {
  background: url(/images/Weekly\ Images/five.png), lightgray 50%/cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
}
.five-card .card-rating--title {
  padding: 9px 14px;
  text-align: right;
  display: block;
  line-height: 150%;
  letter-spacing: 0.118px;
  color: #fff;
  font-weight: 500;
  font-size: 14.115px;
  border-radius: 9.41px;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);
  -webkit-box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
          box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
  -webkit-backdrop-filter: blur(2.3525207043px);
          backdrop-filter: blur(2.3525207043px);
  max-width: 119px;
  margin-top: 15px;
  margin-left: 130px;
}

.card-left {
  position: relative;
  right: 32px;
}

.card-right {
  position: relative;
  right: 14px;
}

.to-left {
  position: relative;
  right: 20px;
}

.collection {
  padding-bottom: 100px;
  background: #F9F9F9;
}
.collection .main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 96px 0px 93px;
}
.collection .main__container .recent__block-item {
  position: relative;
}
.collection .main__container .recent__block-item .recent__block {
  position: absolute;
  right: 0;
  top: -116px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 26.37px;
  padding-bottom: 21px;
  max-width: 365px;
  height: 246px;
  border-radius: 16px;
  border: 1px solid #EDF2F7;
  background: #fff;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(20, 20, 22, 0.1);
          box-shadow: 10px 10px 50px 0px rgba(20, 20, 22, 0.1);
}
.collection .main__container .recent__block-item .recent__block .recent__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 132px;
  padding-bottom: 34px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-item .recent__heading {
  color: #1A202C;
  font-size: 21px;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: 0.2px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-item .third-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  font-size: 36.771px;
  width: 10.699px;
  height: 24px;
  color: rgb(203, 213, 224);
  padding: 4px 0px;
  background: transparent;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent__image-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24.36px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent__image-item .reccent-row {
  width: 43px;
  height: 43px;
  background: url(/images/Reccent\ Images/first-reccent.svg);
  background-repeat: no-repeat;
  background-position: 30%;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent__image-item .reccent-row .reccent-number--item {
  padding: 0.92px 3.48px 1.2px 5.64px;
  color: #141416;
  font-size: 11.523px;
  text-align: center;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.096px;
  border-radius: 100%;
  background: #fff;
  display: block;
  width: 17.125px;
  height: 17.125px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent-subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.68px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent-subitem .recent__card-title {
  color: #141416;
  font-weight: 500;
  line-height: 140%;
  font-size: 15.364px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent-subitem .recent__card-subitem {
  font-weight: 400;
  line-height: 150%;
  color: #64748B;
  font-size: 12.483px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent__statisctic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent__statisctic .recent__statisctic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent__statisctic .recent__statisctic-info .statistic-number {
  font-weight: 600;
  line-height: 140%;
  font-size: 15.364px;
  color: #141416;
}
.collection .main__container .recent__block-item .recent__block .recent__info-card .recent__statisctic .statistic-percent {
  color: #10C352;
  font-size: 13.443px;
  font-weight: 400;
  line-height: 150%;
}
.collection .main__container .collection__content {
  padding-top: 236px;
}
.collection .main__container .collection__content .collection__title {
  text-align: center;
  font-size: 45.04px;
  color: #141416;
  font-weight: 600;
  line-height: 99.357%;
}
.collection .main__container .collection__content .collection__nav {
  padding-top: 90.59px;
  padding-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collection .main__container .collection__content .collection__nav .collection-title {
  color: #93989A;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.22px;
}
.collection .main__container .collection__content .collection__nav .collection-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 92.52px;
}
.collection .main__container .collection__content .collection__nav .collection-menu .collection-link {
  color: #93989A;
  font-size: 22px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.22px;
}
.collection .main__container .collection__content .collection__rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
}
.collection .main__container .collection__content .collection__rating-block .collection__rating-item {
  padding-bottom: 39.5px;
  border-bottom: 2px solid #EBE9E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23.65px;
}
.collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles .collection-image {
  border-radius: 1750.911px;
  border: 3.502px solid #fff;
  background: #fff;
  height: 84.044px;
  padding: 0px 1.751px;
}
.collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles .collection__rating-headings .rating-heading {
  color: #141416;
  font-size: 28.015px;
  font-weight: 500;
  line-height: 140%;
}
.collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles .collection__rating-headings .rating-subitem {
  color: #64748B;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item .volume-number {
  font-weight: 600;
  line-height: 140%;
  font-size: 24.513px;
  color: #141416;
  padding-right: 81px;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info .collection-percent {
  font-size: 24.513px;
  color: #10C352;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.245px;
  padding-right: 63.33px;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item-two .floor-price {
  font-weight: 600;
  line-height: 140%;
  font-size: 24.513px;
  color: #141416;
  padding-right: 145px;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info .owners-item {
  padding-right: 140px;
  font-weight: 500;
  line-height: 130%;
  font-size: 24.513px;
  color: #141416;
}
.collection .main__container .collection__content .collection__rating-block .collection__profile-info .items {
  font-weight: 500;
  line-height: 130%;
  font-size: 24.513px;
  color: #141416;
}
.collection .main__container .collection__content .collection__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.collection .main__container .collection__content .collection__button .collection-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: transparent;
  gap: 8.32px;
  color: #ACADB9;
  font-size: 17.829px;
  font-weight: 500;
  line-height: 39.92px;
  letter-spacing: -0.088px;
}
.collection .main__container .collection__content .collection__button .button-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.collection .main__container .collection__content .collection__button .button-arrow .gray-line {
  position: relative;
  left: 8px;
}

.recent__statistic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.reccent__row-two {
  width: 43px;
  height: 43px;
  background: url(/images/Reccent\ Images/second-reccent.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.reccent__row-two .reccent-number--item {
  padding: 0.92px 3.48px 1.2px 5.64px;
  color: #141416;
  font-size: 11.523px;
  text-align: center;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.096px;
  border-radius: 100%;
  background: #fff;
  display: block;
  width: 17.125px;
  height: 17.125px;
}