@media screen and (max-width: 1340px) {
  .inner .inner__content {
    gap: 170px;
  }
  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40.26px;
  }
  .header__content .nav .nav__menu {
    padding-right: 43.29px;
  }
  .divsea-logo {
    max-width: 37.692px;
    max-height: 37.692px;
  }
  .header__content .nav .nav__menu .nav-item .nav-link {
    font-size: 12.679px;
  }
  .find-icon {
    max-width: 15.304px;
    max-height: 15.304px;
  }
  .header__content .header__input-buttons .header__form .input__item .search-item {
    font-size: 11.174px;
  }
  .header__content .header__input-buttons .header__form {
    max-width: 247px;
    max-height: 40.537px;
  }
  .header__content .header__input-buttons .header__form {
    padding: 13.57px 58.17px 13.97px 16.06px;
  }
  .header__content .header__input-buttons .connect__wallet {
    padding: 11.501px 17.252px;
    border-radius: 11.501px;
    font-size: 11.501px;
    max-height: 40.54px;
  }
  .header .header__nav .header__container {
    padding: 32px 68.27px 32px 66.15px;
    max-width: 1100px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title {
    font-size: 53.339px;
    padding-bottom: 11.39px;
    line-height: 120%;
    max-width: 403.241px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title::before {
    max-width: 138.681px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__subtitle,
  .hero .main__container .hero__content .hero__information-block .hero__subtitle .subtitle-mark {
    max-width: 354.88px;
    line-height: 155.556%;
    font-size: 12.801px;
    padding-bottom: 31.82px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__buttons .explore__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8.827px;
    font-size: 11.501px;
    padding: 13px 20px;
    max-height: 42.671px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__buttons .create {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 11.501px;
    border-radius: 8.827px;
    padding: 13px 15px;
    max-height: 42.671px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__buttons {
    gap: 16.35px;
    padding-bottom: 58.32px;
  }
  .hero .main__container .hero__content {
    padding-top: 76.81px;
    padding-bottom: 101.7px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero {
    padding-top: 76.81px;
  }
  .hero .main__container {
    max-width: 1100px;
    padding-left: 69.7px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-title {
    font-size: 26.151px;
    padding-bottom: 3.93px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__ratings-items {
    gap: 46.35px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-subitem {
    font-size: 8.717px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__first-item .first-image {
    max-width: 278.072px;
    max-height: 280.623px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item .second__nft-image {
    max-width: 226.978px;
    max-height: 229.06px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item .second__item {
    gap: 44.82px;
  }
  .second-image {
    max-width: 91.586px;
    max-height: 88.342px;
  }
  .second-ornament {
    max-width: 123.036px;
    max-height: 136.71px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item .second__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .main__container .hero__content .hero__images-block .hero__first-item {
    gap: 33.78px;
  }
  .hero .main__container .hero__content .hero__images-block {
    gap: 28.45px;
  }
}