@media screen and (max-width: 1340px) {
  .inner .inner__content {
    gap: 170px;
  }
  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40.26px;
  }
  .header__content .nav .nav__menu {
    padding-right: 43.29px;
  }
  .divsea-logo {
    max-width: 37.692px;
    max-height: 37.692px;
  }
  .header__content .nav .nav__menu .nav-item .nav-link {
    font-size: 12.679px;
  }
  .find-icon {
    max-width: 15.304px;
    max-height: 15.304px;
  }
  .header__content .header__input-buttons .header__form .input__item .search-item {
    font-size: 11.174px;
  }
  .header__content .header__input-buttons .header__form {
    max-width: 247px;
    max-height: 40.537px;
  }
  .header__content .header__input-buttons .header__form {
    padding: 13.57px 58.17px 13.97px 16.06px;
  }
  .header__content .header__input-buttons .connect__wallet {
    padding: 11.501px 17.252px;
    border-radius: 11.501px;
    font-size: 11.501px;
    max-height: 40.54px;
  }
  .header .header__nav .header__container {
    padding: 22px 68.27px 22px 66.15px;
    max-width: 1100px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title {
    font-size: 53.339px;
    padding-bottom: 11.39px;
    line-height: 120%;
    max-width: 403.241px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title::before {
    max-width: 138.681px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__subtitle,
  .hero .main__container .hero__content .hero__information-block .hero__subtitle .subtitle-mark {
    max-width: 354.88px;
    line-height: 155.556%;
    font-size: 12.801px;
    padding-bottom: 31.82px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__buttons .explore__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8.827px;
    font-size: 11.501px;
    padding: 13px 20px;
    max-height: 42.671px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__buttons .create {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 11.501px;
    border-radius: 8.827px;
    padding: 13px 15px;
    max-height: 42.671px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__buttons {
    gap: 16.35px;
    padding-bottom: 58.32px;
  }
  .hero .main__container .hero__content {
    padding-top: 76.81px;
    padding-bottom: 101.7px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero {
    padding-top: 76.81px;
  }
  .hero .main__container {
    max-width: 1100px;
    padding-left: 69.7px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-title {
    font-size: 26.151px;
    padding-bottom: 3.93px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__ratings-items {
    gap: 46.35px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__ratings-items .rating__item .rating-subitem {
    font-size: 8.717px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__first-item .first-image {
    max-width: 278.072px;
    max-height: 280.623px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item .second__nft-image {
    max-width: 226.978px;
    max-height: 229.06px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item .second__item {
    gap: 44.82px;
  }
  .second-image {
    max-width: 91.586px;
    max-height: 88.342px;
  }
  .second-ornament {
    max-width: 123.036px;
    max-height: 136.71px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item .second__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .main__container .hero__content .hero__images-block .hero__first-item {
    gap: 33.78px;
  }
  .hero .main__container .hero__content .hero__images-block {
    gap: 28.45px;
  }
  .weekly__content .weekly__title-item .weekly-title {
    font-size: 32.003px;
  }
  .weekly__content .weekly__title-item {
    padding-top: 49.79px;
    padding-bottom: 70.32px;
  }
  .weekly .main__container {
    max-width: 1100px;
  }
  .weekly__content .weekly__cards-items .weekly__card .card-rating,
  .two-card,
  .third-card,
  .four-card,
  .five-card {
    max-height: 179.855px;
    max-width: 172.855px;
    margin-top: 10px;
  }
  .weekly__content .weekly__cards-items .weekly__card .card-rating .card-rating--title,
  .two-card .card-rating--title,
  .third-card .card-rating--title,
  .four-card .card-rating--title,
  .five-card .card-rating--title {
    margin-left: 76px;
    margin-right: 10px;
    padding: 6.69px 10.4px;
    font-size: 10.038px;
  }
  .weekly__content .weekly__cards-items .weekly__card .card__title {
    font-size: 15.058px;
  }
  .weekly__content .weekly__cards-items .weekly__card {
    max-width: 199.932px;
    max-height: 286.095px;
  }
  .weekly__content .weekly__cards-items .weekly__card .current__item .current-title {
    font-size: 10.038px;
  }
  .weekly__content .weekly__cards-items .weekly__card .current__item .current-block .current-subitem {
    font-size: 11.711px;
  }
  .current-block > img {
    max-width: 15.059px;
    max-height: 15.059px;
  }
  .weekly__content .weekly__cards-items .weekly__card .current__item .current {
    font-size: 10.038px;
    padding: 6.69px 13.38px;
    border-radius: 8.365px;
    margin-right: 0;
  }
  .weekly__content .weekly__cards-items .weekly__card .current__item {
    gap: 25.8px;
    padding-bottom: 14.97px;
  }
  .weekly__content .weekly__cards-items .weekly__card {
    padding-left: 13.39px;
    padding-right: 13.39px;
  }
  .collection .main__container .collection__content .collection__title {
    font-size: 32.003px;
  }
  .collection .main__container .collection__content .collection__nav {
    padding-top: 64.43px;
  }
  .collection .main__container .collection__content .collection__nav .collection-title,
  .collection .main__container .collection__content .collection__nav .collection-menu .collection-link {
    font-size: 15.646px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .items {
    font-size: 11.501px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .owners-item {
    font-size: 11.501px;
    padding-right: 99.58px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item-two .floor-price {
    padding-right: 103.1px;
    font-size: 17.433px;
  }
  .collection .main__container .collection__content .collection__nav .collection-menu {
    gap: 65.8px;
  }
  .ethereum-icon {
    max-width: 22.414px;
    max-height: 22.414px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .collection-percent {
    font-size: 17.433px;
    padding-right: 45.56px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item .volume-number {
    font-size: 17.433px;
    padding-right: 57.27px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles .collection__rating-headings .rating-heading {
    font-size: 19.923px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles .collection__rating-headings .rating-subitem {
    font-size: 16.822px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles .collection-image {
    max-width: 64px;
    max-height: 60px;
  }
  .marketplace__content .marketplace__titles .marketplace__title {
    font-size: 32.003px;
  }
  .marketplace__content .marketplace__buttons .all {
    font-size: 11.004px;
    max-width: 51.205px;
    max-height: 39.826px;
    padding: 12.576px;
  }
  .marketplace__content .marketplace__buttons .category {
    font-size: 11.004px;
    max-height: 39.966px;
    padding: 12.576px;
  }
  .category-icon {
    max-width: 17.913px;
    max-height: 17.913px;
  }
  .marketplace__content .marketplace__buttons .voice {
    font-size: 11.004px;
    max-height: 39.966px;
    padding: 12.576px;
  }
  .voice-icon {
    max-width: 17.913px;
    max-height: 17.913px;
  }
  .marketplace__content .marketplace__buttons .price {
    font-size: 11.004px;
    max-height: 39.966px;
    padding: 12.576px;
  }
  .price-icon {
    max-width: 17.913px;
    max-height: 17.913px;
  }
  .marketplace__content .marketplace__buttons {
    gap: 15.64px;
  }
  .marketplace__content .marketplace__titles {
    padding-bottom: 46.14px;
  }
  .marketplace .main__container {
    max-width: 1100px;
  }
  .marketplace__content .marketplace__cards-items .marketplace__card .card__intro-item,
  .marketplace__image-two,
  .marketplace__image-three,
  .marketplace__image-four {
    max-height: 180.429px;
    max-width: 172.429px;
  }
  .marketplace__content .marketplace__cards-items .marketplace__card {
    max-width: 200.57px;
    max-height: 303.008px;
    padding-top: 10.07px;
  }
  .marketplace__content .marketplace__cards-items .marketplace__card .card-title {
    font-size: 15.058px;
  }
  .marketplace__content .marketplace__cards-items .marketplace__card .card__current .current-title {
    font-size: 10.038px;
  }
  .marketplace__content .marketplace__cards-items .marketplace__card .card__current .ethereum__item .current-number {
    font-size: 11.711px;
  }
  .ethereum__item > .ethereum-icon {
    max-width: 15.107px;
    max-height: 15.107px;
  }
  .card__row .place-bid {
    font-size: 10.07px;
    padding: 6.71px 13.43px;
    border-radius: 8.392px;
    max-width: 86px;
    max-height: 36px;
  }
  .marketplace__content .marketplace__cards-items .marketplace__card .card__intro-item .intro-item,
  .marketplace__image-two .intro-item,
  .marketplace__image-three .intro-item,
  .marketplace__image-four .intro-item {
    left: 80px;
    padding: 6.71px 10.7px;
    max-width: 87.176px;
    max-height: 26.855px;
  }
  .marketplace__content .marketplace__cards-items .marketplace__card .card__intro-item .intro-item,
  .marketplace__image-two .intro-item,
  .marketplace__image-three .intro-item,
  .marketplace__image-four .intro-item {
    font-size: 10.07px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner .main__container {
    max-width: 1100px;
  }
  .inner .inner__content .inner__just .inner__just-title {
    font-size: 32.003px;
    line-height: 120.889%;
    max-width: 327px;
    padding-bottom: 31px;
  }
  .inner .inner__content .inner__just .inner__just-list .just-menu .just-item {
    font-size: 12.679px;
  }
  .inner .inner__content .inner__just .inner__button {
    border-radius: 8.529px;
    max-width: 116.635px;
    max-height: 41.96px;
    padding: 13.96px 10.31px 13.42px 14.94px;
  }
  .inner .inner__content .inner__just .inner__button .inner-btn {
    font-size: 9.497px;
    line-height: 125%;
  }
  .arrow-right {
    max-width: 15.746px;
    max-height: 15.746px;
  }
  .row-image--third {
    max-width: 43.212px;
    max-height: 43.212px;
    border-radius: 7.427px;
  }
  .bestsellers__title-row .bestsellers__row-card .row__avatar-item .row__card-info .info__titles .info-subitem,
  .bestsellers__title-row .bestsellers__row-card .row__avatar-item .row__card-info .info__titles .info-title {
    font-size: 9.453px;
    line-height: 171.429%;
  }
  .bestsellers__title-row .bestsellers__row-card .row__avatar-item .black-cirle {
    max-width: 6px;
    max-height: 6px;
  }
  .bestsellers__title-row .bestsellers__row-card .row__avatar-item .row__card-info .column__info--item {
    font-size: 8.102px;
    line-height: 166.667%;
  }
  .bestsellers__title-row .bestsellers__row-card {
    padding: 8.01px;
  }
  .bestsellers__title-row .bestsellers__row-card .row__avatar-item .row__card-info .column__info--item .data {
    font-size: 8.102px;
  }
  .bestsellers__title-row .bestsellers__row-card {
    max-width: 231px;
    max-height: 60px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-title {
    font-size: 32.003px;
    padding-bottom: 8.12px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-subtitle {
    font-size: 14.412px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-buttons .create-explore,
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-buttons .create-sell {
    border-radius: 8.688px;
    max-height: 48px;
    max-width: 130.321px;
    font-size: 14.204px;
    padding: 14.118px 18.462px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-buttons {
    gap: 21.7px;
  }
  .create__sell .main__container .create__intro-content .create__intro-blur {
    max-width: 262.426px;
    max-height: 177.084px;
  }
  .create__sell .main__container .create__intro-content .create__intro-blur .create__intro-image #intro__shadow {
    max-width: 375px;
    max-height: 320px;
  }
  .collection .main__container .recent__block-item .recent__block {
    right: -60px;
  }
  body {
    overflow-x: hidden;
  }
  .wave-logo {
    max-width: 46.227px;
    max-height: 46.227px;
  }
  .footer .footer__container .footer__content .footer__menu .footer__logo .wave-title {
    font-size: 21.28px;
  }
  .footer .footer__container .footer__content .footer__menu .footer__nav .nav-menu .nav-item .nav-link {
    font-size: 12.679px;
  }
  .footer .footer__container .footer__content .footer__social .footer__copyright .footer-copy {
    font-size: 12.09px;
  }
  .instagram-item,
  .in-item,
  .facebook-item,
  .twitter-item {
    max-width: 16px;
    max-height: 16px;
  }
  .footer .footer__container .footer__content .footer__social .social__items {
    gap: 35px;
  }
  .footer .footer__container .footer__content {
    padding-top: 78.95px;
    padding-bottom: 28.72px;
  }
  .footer .footer__container .footer__content .footer__menu {
    padding-bottom: 30.49px;
  }
  .footer .footer__container .footer__content .footer__social {
    padding-top: 41.97px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .owners-item {
    padding-right: 95.58px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .owners-item,
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .items {
    font-size: 17.433px;
  }
  .hero .main__container .hero__content {
    padding-top: 40.81px;
  }
  .header {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  }
  .footer .footer__container {
    padding-bottom: 20px;
  }
  .bestsellers__block .recent__block {
    bottom: 155px;
  }
  .inner .inner__content .inner__just .inner__just-list .just-menu .just-item::before {
    max-width: 16px;
    max-height: 16px;
    background-size: cover;
  }
  .weekly__content .weekly__cards-items {
    gap: 40px;
  }
}
@media screen and (max-width: 1050px) {
  .header__content .header__input-buttons .connect__wallet {
    font-size: 8.501px;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__item-title {
    font-size: 13.179px;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__items-follow .follow__item .follow__item-row .follow__item-image,
  .inner .inner__content .bestsellers__block .bestsellers__item .follow-second,
  .inner .inner__content .bestsellers__block .bestsellers__item .follow-third,
  .inner .inner__content .bestsellers__block .bestsellers__item .follow-four {
    max-width: 34.719px;
    max-height: 34.719px;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__items-follow .follow__item .follow__item-row .follow__item-image .follow-number,
  .inner .inner__content .bestsellers__block .bestsellers__item .follow-second .follow-number,
  .inner .inner__content .bestsellers__block .bestsellers__item .follow-third .follow-number,
  .inner .inner__content .bestsellers__block .bestsellers__item .follow-four .follow-number {
    font-size: 7.44px;
    max-width: 13px;
    max-height: 13px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__items-follow .follow__item .follow__item-row .follow__item-titles .follow-titles .first-item,
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__items-follow .follow__item .follow__item-row .follow__item-titles .follow-titles .second-item {
    font-size: 8.68px;
    line-height: 171.429%;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__items-follow .follow__item .follow__item-row .follow__item-titles .follow-subitem {
    font-size: 7.44px;
    line-height: 166.667%;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item {
    max-width: 229.069px;
    max-height: 390.746px;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__items-follow .follow__item .follow,
  .unfollow {
    border-radius: 4.96px;
    font-size: 8.68px;
    padding: 4.96px 9.92px;
  }
  .unfollow {
    max-width: 55px;
    max-height: 20px;
    padding: 4.96px 9.92px;
  }
  .bestsellers__title-row .bestsellers__row-card {
    left: 0;
    bottom: 20px;
  }
  .inner .inner__content .bestsellers__block .bestsellers__item .bestsellers__items-follow .follow__item .follow {
    max-width: 40px;
    max-height: 20px;
  }
  .bestsellers__block .recent__block .recent__info-item .recent__heading {
    font-size: 13.179px;
  }
  .bestsellers__block .recent__block .recent__info-item .third-dots {
    font-size: 26.151px;
  }
  .bestsellers__block .recent__block .recent__info-card .recent__image-item .reccent-row,
  .reccent__row-two {
    max-width: 34px;
    max-height: 34px;
  }
  .bestsellers__block .recent__block .recent__info-card .recent__image-item .reccent-row .reccent-number--item,
  .reccent__row-two .reccent-number--item {
    font-size: 7.44px;
    max-width: 12px;
    max-height: 12px;
  }
  .bestsellers__block .recent__block .recent__info-card .recent-subitem .recent__card-title {
    font-size: 9.497px;
  }
  .bestsellers__block .recent__block .recent__info-card .recent-subitem {
    gap: 4.82px;
  }
  .bestsellers__block .recent__block .recent__info-card .recent-subitem .recent__card-subitem {
    font-size: 7.44px;
  }
  .statistic-image {
    max-width: 10px;
    max-height: 10px;
  }
  .bestsellers__block .recent__block .recent__info-card .recent__statisctic .recent__statisctic-info .statistic-number {
    font-size: 9.497px;
  }
  .bestsellers__block .recent__block .recent__info-card .recent__statisctic .statistic-percent {
    font-size: 8.68px;
  }
  .bestsellers__block .recent__block {
    padding: 16.55px 15.06px 17.11px 12.3px;
    max-width: 229.069px;
    max-height: 185.387px;
    bottom: 115px;
    right: 119.5px;
  }
  .bestsellers__block .recent__block .recent__info-item {
    padding-bottom: 21.28px;
  }
}
@media screen and (max-width: 1025px) {
  .header__content .nav .nav__menu {
    display: none;
  }
  .marketplace__cards-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner .inner__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .collection .main__container .recent__block-item .recent__block {
    top: -70px;
  }
  .marketplace__content .collection__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .create__sell .main__container .create__intro-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 36.43px;
    max-height: 300px;
    padding-left: 31px;
  }
  .create__sell .main__container .create__intro-content .create__intro-blur .create__intro-image #intro__shadow {
    text-align: center;
  }
  .inner {
    padding-bottom: 0px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-subtitle {
    text-align: center;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer__container .footer__content .footer__menu .footer__nav .nav-menu {
    gap: 35px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title {
    font-size: 48px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__first-item .first-image {
    max-width: 278.072px;
    max-height: 220.623px;
  }
  .footer .footer__container {
    margin-top: 0px;
  }
  .marketplace .main__container {
    max-width: 865px;
  }
  .marketplace__cards-row {
    gap: 80px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-title {
    padding-bottom: 20px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-subtitle {
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 801px) {
  .hero .main__container .hero__content {
    padding-top: 50px;
  }
  .hero .main__container .hero__content {
    gap: 20px;
  }
  .header .header__nav .header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__first-item .first-image {
    max-width: 250px;
    max-height: 240px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__subtitle,
  .hero .main__container .hero__content .hero__information-block .hero__subtitle .subtitle-mark {
    font-size: 11.801px;
  }
  .collection .main__container .recent__block-item .recent__block {
    right: 115px;
    top: -60px;
  }
  .collection .main__container .collection__content .collection__nav .collection-menu {
    gap: 40px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .owners-item {
    padding-right: 70px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item-two .floor-price {
    padding-right: 65.1px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item .volume-number {
    padding-right: 33.27px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__rating-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner .inner__content {
    gap: 70px;
  }
  .footer .footer__container .footer__content .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
  }
  .header__content .header__input-buttons .header__form {
    display: none;
  }
  .footer .footer__container .footer__content .footer__menu .footer__logo {
    gap: 25px;
  }
  .inner .inner__content .inner__just .inner__just-list .just-menu .just-item::before {
    background-size: cover;
    max-width: 15px;
    max-height: 15px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__rating-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 670px) {
  .collection .main__container .recent__block-item .recent__block {
    display: none;
  }
  .footer .footer__container .footer__content .footer__menu .footer__nav .nav-menu {
    gap: 25px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__rating-item .collection__rating-titles {
    display: none;
  }
  .collection .main__container .collection__content .collection__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .collection .main__container .collection__content .collection__nav .collection-menu {
    gap: 38px;
  }
  .collection .main__container .collection__content .collection__nav .collection-title,
  .collection .main__container .collection__content .collection__nav .collection-menu .collection-link:not(.collection-link) {
    font-size: 26.151px;
  }
  .create__sell .main__container .create__intro-content .create__intro-blur {
    max-width: 300px;
  }
  .create__sell .main__container .create__intro-content .create__intro-blur .create__intro-image #intro__shadow {
    max-width: 400px;
  }
  .hero .main__container .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__content .header__input-buttons .connect__wallet {
    display: none;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title::before {
    max-width: 34px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title {
    line-height: 120%;
    letter-spacing: -1.896px;
    text-transform: capitalize;
  }
  .hero .main__container .hero__content {
    gap: 70px;
    max-width: 550px;
  }
  .hero .main__container .hero__content .hero__images-block {
    gap: 70px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__ratings-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .marketplace .main__container {
    max-width: 550px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-title {
    text-align: center;
    font-size: 22.299px;
  }
  .create__sell .main__container .create__intro-content .create__intro-block .create__intro-subtitle {
    font-size: 10.927px;
  }
  .footer .footer__container .footer__content .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
  .bestsellers__block .recent__block .recent__info-item {
    padding-bottom: 15px;
  }
  .bestsellers__block .recent__block .recent__info-item {
    gap: 83px;
  }
  .bestsellers__block .recent__block {
    max-height: 165px;
  }
  .collection .main__container .collection__content .collection__nav .collection-menu {
    gap: 28px;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item .volume-number,
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .collection-percent,
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .profile-item-two .floor-price,
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info .owners-item {
    padding-right: 0;
  }
  .collection .main__container .collection__content .collection__rating-block .collection__profile-info {
    gap: 35px;
  }
  .instagram-item,
  .in-item,
  .facebook-item,
  .twitter-item {
    max-width: 20px;
    max-height: 20px;
  }
  .create__sell .main__container {
    padding: 0 40px;
  }
  .hero .main__container .hero__content .hero__images-block .hero__second-item .second__nft-image,
  .hero .main__container .hero__content .hero__images-block .hero__first-item .first-image {
    max-width: 200px;
  }
  .footer .footer__container .footer__content .footer__menu .footer__nav .nav-menu .nav-item .nav-link {
    font-size: 11px;
  }
  .footer .footer__container .footer__content .footer__menu .footer__nav .nav-menu {
    gap: 16px;
  }
  .bestsellers__title-row .bestsellers__row-card {
    left: -10px;
  }
  .hero .main__container .hero__content .hero__images-block {
    gap: 35px;
  }
  .hero .main__container {
    padding-left: 40.7px;
  }
  .footer .footer__container .footer__content .footer__social .footer__copyright .footer-copy {
    font-size: 13.09px;
  }
}
@media screen and (max-width: 505px) {
  .marketplace__content .marketplace__titles .marketplace__title {
    line-height: 130%;
  }
}
@media screen and (max-width: 426px) {
  .header {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .header__nav .header__container {
    padding: 20px;
    border-bottom: 1px solid #CBCBCB;
  }
  .divsea-logo {
    max-width: 46.411px;
    max-height: 46.411px;
  }
  .hero .main__container {
    padding-left: 14px;
  }
  .hero .main__container .hero__content {
    max-width: 400px;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title::before {
    display: none;
  }
  .hero .main__container .hero__content .hero__information-block .hero__title {
    max-width: 355px;
  }
  .hero .main__container .hero__content .hero__images-block {
    max-width: 400px;
  }
}
@media screen and (min-width: 1025px) {
  .header__burger-menu {
    display: none;
  }
  .divsea-title {
    display: none;
  }
}