$primaryBackground: #F9F9F9;
$primaryMenuColor: #606060;
$primaryInputColor: #C2C3CB;
$primaryWhiteColor: #fff;
$primaryBlackColor: #141416;
$primaryInputBackground: #EDEDED;
$primarySubtitleColor: #696969;
$primaryNaturalBlack: #000;
$primarySubItemColor: #848586;
$primaryArrwosBgColor: #FCFCFD;
$primaryGrayLineColor: #E6E8EC;
$primaryWeeklyBackground: #F1F1F1;
$primaryWeeklyTitleColor: #C5C5C5;
$primaryWeeklyCardTitle: #94A3B8;
$primaryGrayScaleColor: #EDF2F7;
$primaryBlackScaleColor: #1A202C;
$primaryGrayScaleTwo: #64748B;
$primaryPercentColor: #10C352;
$primaryPercentTwo: #E23333;
$primaryNavColor: #93989A;
$primaryBoderBottom: #EBE9E9;
$primaryExploreButton: #ACADB9;
