$primaryBackground: #f9f9f9;
$primaryMenuColor: #606060;
$primaryInputColor: #c2c3cb;
$primaryWhiteColor: #fff;
$primaryBlackColor: #141416;
$primaryInputBackground: #ededed;
$primarySubtitleColor: #696969;
$primaryNaturalBlack: #000;
$primarySubItemColor: #848586;
$primaryArrwosBgColor: #fcfcfd;
$primaryGrayLineColor: #e6e8ec;
$primaryWeeklyBackground: #f1f1f1;
$primaryWeeklyTitleColor: #c5c5c5;
$primaryWeeklyCardTitle: #94a3b8;
$primaryGrayScaleColor: #edf2f7;
$primaryBlackScaleColor: #1a202c;
$primaryGrayScaleTwo: #64748b;
$primaryPercentColor: #10c352;
$primaryPercentTwo: #e23333;
$primaryNavColor: #93989a;
$primaryBoderBottom: #ebe9e9;
$primaryExploreButton: #acadb9;
$primaryInnerTitle: #18181b;
$primaryInnerList: #12141d;
$primaryInnerColor: #edf2f7;
$primaryFollowColor: #23262f;
$primaryFollowTwoColor: #777e90;
$priamryFollowButton: #e6e8ec;
$primaryRowInfo: #949494;
$primaryCreateSubColor: #D4D4D4;
$primaryFooterNavColor: #B9B9B9;
$primaryFooterBorderBottom: #818181;
$primaryCopyrightColor: #999;