@import "colors";
@import "variables";
@import "mixins";

.header {
  background: $primaryBackground;
  font-family: "Inter", sans-serif;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  & .header__nav {
    & .header__container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 46px 96px 26px 93px;
    }
  }
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .nav {
    & .nav__menu {
      display: inline-flex;
      align-items: center;
      gap: 53.49px;
      & .nav-item {
        & .nav-link {
          color: $primaryMenuColor;
          font-size: $primarySizeOne;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 150%;
        }
      }
    }
  }
  & .header__input-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    & .header__form {
      display: flex;
      align-items: center;
      max-width: 348.454px;
      height: 57px;
      background: $primaryInputBackground;
      padding: 13.57px 58.17px 13.97px 49.65px;
      border-radius: 15px;
      & .input__item {
        display: flex;
        align-items: center;
        gap: 18.28px;
        & .search-item {
          font-size: $primarySizeTwo;
          background: transparent;
          caret-color: $primaryInputColor;
          color: $primaryInputColor;
          font-weight: 500;
          line-height: 117.5%;
          letter-spacing: -0.314px;
          &::placeholder {
            color: $primaryInputColor;
          }
        }
        & .find-icon {
          width: 21.5px;
          height: 21.5px;
        }
      }
    }
    & .connect__wallet {
      @include buttonProp;
      @include buttonBackground;
    }
  }
}

.header__burger-menu {
  width: 35.5px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  & .burger-item {
    display: block;
    width: 30px;
    height: 3px;
    background: #282828;
    border-radius: 8px;

    &:nth-child(-n + 1) {
      height: 3px;
    }
  }
}

.divsea-title {
  font-family: "Poppins", sans-serif;
  color: $primaryNaturalBlack;
  font-size: $primaryDivSeaTitle;
  font-weight: 600;
  line-height: 130%;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
