$primarySizeOne: 17.829px;
$primarySizeTwo: 15.711px;
$primarySizeThree: 16.172px;
$primarySizeFour: 75px;
$primarySizeFive: 18px;
$primarySizeSix: 36.771px;
$primarySizeSeven: 12.257px;
$primarySizeEight: 45px;
$primarySizeNine: 14.115px;
$primarySizeTen: 21.173px;
$primaryScaleOne: 21px;
$primaryScaleTwo: 45.04px;
$primaryScaleThree: 11.523px;
$primaryScaleFour: 15.364px;
$primaryScaleFive: 12.483px;
$primaryPercent: 13.443px;
$primaryNavSize: 22px;
$primaryCollectionSize: 28.015px;
$primaryCollectionTwo: 24.513px;
$primaryFollowCardItem: 10.448px;
$primaryRowTitle: 13.291px;