$primarySizeOne: 17.829px;
$primarySizeTwo: 15.711px;
$primarySizeThree: 16.172px;
$primarySizeFour: 75px;
$primarySizeFive: 18px;
$primarySizeSix: 36.771px;
$primarySizeSeven: 12.257px;
$primarySizeEight: 45px;
$primarySizeNine: 14.115px;
$primarySizeTen: 21.173px;
$primaryScaleOne: 21px;
$primaryScaleTwo: 45.04px;
$primaryScaleThree: 11.523px;
$primaryScaleFour: 15.364px;
$primaryScaleFive: 12.483px;
$primaryPercent: 13.443px;
$primaryNavSize: 22px;
$primaryCollectionSize: 28.015px;
$primaryCollectionTwo: 24.513px;
$primaryFollowCardItem: 10.448px;
$primaryRowTitle: 13.291px;
$primaryCreateSubtitle: 20.265px;
$primaryCreateButton: 21.357px;
$primaryWaveSize: 29.922px;
$primaryCopyrightSize: 17px;

$primaryMediaOne: 12.679px;
$primaryMediaTwo: 11.174px;
$primaryMediaThird: 11.501px;
$primaryMediaFour: 53.339px;
$primaryMediaFive: 12.801px;
$primaryMediaSix: 26.151px;
$primaryMediaSeven: 8.717px;
$primaryMediaEight: 32.003px;
$primaryMediaNine: 10.038px;
$primaryMediatTen: 15.058px;
$primaryMediaEleven: 11.711px;
$primaryMediaTwelve: 14.935px;
$primaryMediaFirst: 10.927px;
$primaryMediaSecondary: 15.646px;
$primaryMediaThird-Size: 16.822px;
$primaryFloorSize: 17.433px;
$primaryFloorTitle: 19.923px;
$primaryExploreMedia: 12.567px;
$primaryButtonAllMedia: 11.004px;
$primaryMediaPlace: 10.07px;
$primaryExploreBtnSize: 9.497px;
$primarySellersSize: 13.179px;
$primaryNumberSize: 7.44px;
$primarySellerCardTwo: 8.68px;
$primaryDivSeaTitle: 21.365px;