$primarySizeOne: 17.829px;
$primarySizeTwo: 15.711px;
$primarySizeThree: 16.172px;
$primarySizeFour: 75px;
$primarySizeFive: 18px;
$primarySizeSix: 36.771px;
$primarySizeSeven: 12.257px;
$primarySizeEight: 45px;
$primarySizeNine: 14.115px;
$primarySizeTen: 21.173px;
