@import "header";
@import "footer";
@import "media";
@import "variables";
@import "colors";
@import "mixins";
@import "reset";

body {
  font-family: "Poppins", sans-serif;
}

.hero {
  background: $primaryBackground;
  & .main__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 98px;
    & .hero__content {
      overflow: hidden;
      padding-top: 113px;
      padding-bottom: 143px;
      display: flex;
      gap: 48px;
      & .hero__information-block {
        max-width: 567px;
        & .hero__title {
          font-size: $primarySizeFour;
          color: $primaryBlackColor;
          line-height: 120%;
          text-transform: capitalize;
          letter-spacing: -3px;
          font-weight: 600;
          padding-bottom: 16px;
          &::before {
            content: "";
            width: 195px;
            height: 1px;
            background: $primaryInputColor;
            display: block;
            margin-bottom: 10px;
          }
        }
        & .hero__subtitle {
          max-width: 499px;
          font-family: "Inter";
          font-size: $primarySizeFive;
          color: $primarySubtitleColor;
          line-height: 28px;
          font-weight: 500;
          padding-bottom: 45px;
          & .subtitle-mark {
            font-family: "Inter";
            font-size: $primarySizeFive;
            line-height: 28px;
            font-weight: 600;
            color: $primaryBlackColor;
          }
        }
        & .hero__buttons {
          display: flex;
          align-items: center;
          gap: 23px;
          padding-bottom: 82px;
          & .explore__more {
            @include buttonProp;
            @include buttonBackground;
            font-weight: 500;
            padding: 18px 29px;
          }
          & .create {
            border-radius: 12.412px;
            border: 1.5px solid $primaryNaturalBlack;
            padding: 17px 21px;
            background: transparent;
            letter-spacing: 0.163px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: $primarySizeThree;
          }
        }
        & .hero__ratings-items {
          display: flex;
          align-items: center;
          gap: 65px;
          & .rating__item {
            & .rating-title {
              font-family: "Public Sans", sans-serif;
              font-weight: 600;
              text-align: center;
              padding-bottom: 6px;
              line-height: 125%;
              font-size: $primarySizeSix;
            }
            & .rating-subitem {
              font-family: "Inter";
              color: $primarySubItemColor;
              font-weight: 500;
              line-height: 150%;
              font-size: $primarySizeSeven;
            }
          }
        }
      }
      & .hero__images-block {
        display: flex;
        gap: 22px;
        & .hero__first-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 71.5px;
          & .first-image {
            max-width: 100%;
            object-fit: cover;
          }
          & .hero__arrows-menu {
            @include arrowsButtonsMenu;
            & .left-arrow,
            .right-arrow {
              background: transparent;
            }
            & .gray-line {
              @include grayLine;
            }
          }
        }
        & .hero__second-item {
          display: flex;
          flex-direction: column;
          gap: 2px;
          & .second__item {
            display: flex;
            gap: 63px;
          }
          & .second__nft-image {
            max-width: 100%;
            position: relative;
            left: 10px;
            height: 322px;
          }
        }
      }
    }
  }
}

.weekly {
  overflow: hidden;
  background: $primaryWeeklyBackground;
  padding-bottom: 89px;
  & .main__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.weekly__content {
  & .weekly__title-item {
    padding-top: 70px;
    padding-bottom: 100px;
    & .weekly-title {
      font-feature-settings: "clig" off, "liga" off;
      font-size: $primarySizeEight;
      text-align: center;
      line-height: 60%;
      font-weight: 600;
      color: $primaryWeeklyTitleColor;
    }
  }
  & .weekly__cards-items {
    display: flex;
    align-items: center;
    gap: 37px;
    padding-bottom: 115px;
    & .weekly__card {
      padding-left: 9px;
      padding-right: 9px;
      @include weeklyCard;
      display: flex;
      flex-direction: column;
      & .card-rating {
        background: url(../images/Weekly\ Images/first.png),
          lightgray 50% / cover no-repeat;
        background-size: cover;
        margin-top: 15px;
        border-radius: 18.784px;
        width: 260.331px;
        height: 252.896px;

        & .card-rating--title {
          padding: 9px 14px;
          text-align: right;
          display: block;
          line-height: 150%;
          letter-spacing: 0.118px;
          color: $primaryWhiteColor;
          font-weight: 500;
          font-size: $primarySizeNine;
          border-radius: 9.41px;
          border: 1.176px solid rgba(28, 29, 32, 0.08);
          background: rgba(28, 29, 32, 0.35);
          box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
          backdrop-filter: blur(2.352520704269409px);
          max-width: 119px;
          margin-top: 15px;
          margin-left: 130px;
        }
      }
      & .card__title {
        color: $primaryBlackColor;
        font-weight: 600;
        line-height: 140%;
        font-size: $primarySizeTen;
        padding-bottom: 15px;
        padding-top: 23px;
      }
      & .current__item {
        display: flex;
        gap: 5px;
        justify-content: space-between;
        & .current-title {
          font-size: $primarySizeNine;
          line-height: 150%;
          color: $primaryWeeklyCardTitle;
          letter-spacing: 0.118px;
        }
        & .current-block {
          display: flex;
          align-items: center;
          gap: 2.5px;

          & .current-subitem {
            color: $primaryBlackColor;
            font-weight: 500;
            line-height: 150%;
            font-size: $primarySizeThree;
          }
        }
        & .current {
          max-width: 121px;
          color: $primaryWhiteColor;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: 0.118px;
          padding: 9.41px 18.82px;
          display: flex;
          border-radius: 11.763px;
          background: $primaryBlackColor;
          justify-content: center;
          align-items: center;
          gap: 11.763px;
          flex: 1 0 0;
          margin-right: 15px;
        }
      }
    }
  }
  .hero__arrows-menu {
    margin: 0 auto;
    @include arrowsButtonsMenu;
    & .left-arrow,
    .right-arrow {
      background: transparent;
    }
    & .gray-line {
      @include grayLine;
    }
  }
}

.two-card {
  background: url(../images/Weekly\ Images/second.png),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
  & .card-rating--title {
    padding: 9px 14px;
    text-align: right;
    display: block;
    line-height: 150%;
    letter-spacing: 0.118px;
    color: $primaryWhiteColor;
    font-weight: 500;
    font-size: $primarySizeNine;
    border-radius: 9.41px;
    border: 1.176px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.352520704269409px);
    max-width: 119px;
    margin-top: 15px;
    margin-left: 130px;
  }
}

.third-card {
  background: url(../images/Weekly\ Images/third.png),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
  & .card-rating--title {
    padding: 9px 14px;
    text-align: right;
    display: block;
    line-height: 150%;
    letter-spacing: 0.118px;
    color: $primaryWhiteColor;
    font-weight: 500;
    font-size: $primarySizeNine;
    border-radius: 9.41px;
    border: 1.176px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.352520704269409px);
    max-width: 119px;
    margin-top: 15px;
    margin-left: 130px;
  }
}

.four-card {
  background: url(../images/Weekly\ Images/four.png),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
  & .card-rating--title {
    padding: 9px 14px;
    text-align: right;
    display: block;
    line-height: 150%;
    letter-spacing: 0.118px;
    color: $primaryWhiteColor;
    font-weight: 500;
    font-size: $primarySizeNine;
    border-radius: 9.41px;
    border: 1.176px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.352520704269409px);
    max-width: 119px;
    margin-top: 15px;
    margin-left: 130px;
  }
}

.five-card {
  background: url(../images/Weekly\ Images/five.png),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  margin-top: 15px;
  border-radius: 18.784px;
  width: 260.331px;
  height: 252.896px;
  & .card-rating--title {
    padding: 9px 14px;
    text-align: right;
    display: block;
    line-height: 150%;
    letter-spacing: 0.118px;
    color: $primaryWhiteColor;
    font-weight: 500;
    font-size: $primarySizeNine;
    border-radius: 9.41px;
    border: 1.176px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.70504px 14.11513px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.352520704269409px);
    max-width: 119px;
    margin-top: 15px;
    margin-left: 130px;
  }
}

.card-left {
  position: relative;
  right: 32px;
}

.card-right {
  position: relative;
  right: 14px;
}

.to-left {
  position: relative;
  right: 20px;
}

.collection {
  padding-bottom: 100px;
  background: $primaryBackground;
  & .main__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 96px 0px 93px;

    & .recent__block-item {
      position: relative;
      & .recent__block {
        position: absolute;
        right: 0;
        top: -116px;
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 26.37px;
        padding-bottom: 21px;
        max-width: 365px;
        height: 246px;
        border-radius: 16px;
        border: 1px solid $primaryGrayScaleColor;
        background: $primaryWhiteColor;
        box-shadow: 10px 10px 50px 0px rgba(20, 20, 22, 0.1);
        & .recent__info-item {
          display: flex;
          align-items: baseline;
          gap: 132px;
          padding-bottom: 34px;

          & .recent__heading {
            color: $primaryBlackScaleColor;
            font-size: $primaryScaleOne;
            font-weight: 600;
            line-height: 135%;
            letter-spacing: 0.2px;
          }

          & .third-dots {
            display: flex;
            align-items: center;
            gap: 3px;
            font-size: $primarySizeSix;
            width: 10.699px;
            height: 24px;
            color: rgba(203, 213, 224, 1);
            padding: 4px 0px;
            background: transparent;
          }
        }

        & .recent__info-card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          & .recent__image-item {
            display: flex;
            align-items: center;
            gap: 24.36px;
            & .reccent-row {
              width: 43px;
              height: 43px;
              background: url(../images/Reccent\ Images/first-reccent.svg);
              background-repeat: no-repeat;
              background-position: calc(100% - 70%);
              border-radius: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;

              & .reccent-number--item {
                padding: 0.92px 3.48px 1.2px 5.64px;
                color: $primaryBlackColor;
                font-size: $primaryScaleThree;
                text-align: center;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: 0.096px;
                border-radius: 100%;
                background: $primaryWhiteColor;
                display: block;
                width: 17.125px;
                height: 17.125px;
              }
            }
          }
          & .recent-subitem {
            display: flex;
            flex-direction: column;
            gap: 7.68px;

            & .recent__card-title {
              color: $primaryBlackColor;
              font-weight: 500;
              line-height: 140%;
              font-size: $primaryScaleFour;
            }

            & .recent__card-subitem {
              font-weight: 400;
              line-height: 150%;
              color: $primaryGrayScaleTwo;
              font-size: $primaryScaleFive;
            }
          }

          & .recent__statisctic {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: flex-end;

            & .recent__statisctic-info {
              display: flex;
              align-items: center;
              gap: 2px;

              & .statistic-number {
                font-weight: 600;
                line-height: 140%;
                font-size: $primaryScaleFour;
                color: $primaryBlackColor;
              }
            }
            & .statistic-percent {
              color: $primaryPercentColor;
              font-size: $primaryPercent;
              font-weight: 400;
              line-height: 150%;
            }
          }
        }
      }
    }
    & .collection__content {
      padding-top: 236px;

      & .collection__title {
        text-align: center;
        font-size: $primaryScaleTwo;
        color: $primaryBlackColor;
        font-weight: 600;
        line-height: 99.357%;
      }

      & .collection__nav {
        padding-top: 90.59px;
        padding-bottom: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .collection-title {
          color: $primaryNavColor;
          font-size: $primaryNavSize;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: 0.22px;
        }

        & .collection-menu {
          display: flex;
          align-items: center;
          gap: 92.52px;
          & .collection-link {
            color: $primaryNavColor;
            font-size: $primaryNavSize;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0.22px;
          }
        }
      }
      & .collection__rating-block {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 80px;
        & .collection__rating-item {
          padding-bottom: 39.5px;
          border-bottom: 2px solid $primaryBoderBottom;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & .collection__rating-titles {
            display: flex;
            gap: 23.65px;
            & .collection-image {
              display: flex;
              width: 84.044px;
              height: 84.044px;
              padding: 0px 1.751px;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
              border-radius: 1750.911px;
              border: 3.502px solid #fff;
              background: #fff;
              object-fit: cover;
              object-position: right;
              padding: 0px 1.751px;
              width: 84.044px;
              height: 83.044px;
            }

            & .collection__rating-headings {
              & .rating-heading {
                color: $primaryBlackColor;
                font-size: $primaryCollectionSize;
                font-weight: 500;
                line-height: 140%;
              }

              & .rating-subitem {
                color: $primaryGrayScaleTwo;
                font-size: $primaryNavSize;
                font-weight: 400;
                line-height: 150%;
              }
            }
          }
        }
        & .collection__profile-info {
          display: flex;
          align-items: center;
          justify-content: center;
          & .profile-item {
            display: flex;
            align-items: center;

            & .volume-number {
              font-weight: 600;
              line-height: 140%;
              font-size: $primaryCollectionTwo;
              color: $primaryBlackColor;
              padding-right: 81px;
            }
          }
          & .collection-percent {
            font-size: $primaryCollectionTwo;
            color: $primaryPercentColor;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0.245px;
            padding-right: 63.33px;
          }
          & .profile-item-two {
            display: flex;
            align-items: center;
            & .floor-price {
              font-weight: 600;
              line-height: 140%;
              font-size: $primaryCollectionTwo;
              color: $primaryBlackColor;
              padding-right: 145px;
            }
          }
          & .owners-item {
            padding-right: 140px;
            font-weight: 500;
            line-height: 130%;
            font-size: $primaryCollectionTwo;
            color: $primaryBlackColor;
          }
          & .items {
            font-weight: 500;
            line-height: 130%;
            font-size: $primaryCollectionTwo;
            color: $primaryBlackColor;
          }
        }
      }
      & .collection__button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & .collection-btn {
          display: flex;
          text-align: right;
          align-items: center;
          justify-content: flex-end;
          background: transparent;
          gap: 8.32px;
          @include ExploreButton;
        }
        & .button-arrow {
          display: flex;
          align-items: center;
          & .gray-line {
            position: relative;
            left: 8px;
          }
        }
      }
    }
  }
}

.recent__statistic-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reccent__row-two {
  width: 43px;
  height: 43px;
  background: url(../images/Reccent\ Images/second-reccent.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 50%);
  border-radius: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  & .reccent-number--item {
    padding: 0.92px 3.48px 1.2px 5.64px;
    color: $primaryBlackColor;
    font-size: $primaryScaleThree;
    text-align: center;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.096px;
    border-radius: 100%;
    background: $primaryWhiteColor;
    display: block;
    width: 17.125px;
    height: 17.125px;
  }
}

.second-ornament {
  max-width: 100%;
}

.marketplace {
  background: $primaryBackground;

  & .main__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 96px 0px 93px;
  }
}

.marketplace__content {
  & .marketplace__titles {
    padding-bottom: 66px;
    & .marketplace__title {
      text-align: center;
      color: $primaryBlackColor;
      font-weight: 600;
      line-height: 26.916px;
      font-size: $primaryScaleTwo;
    }
  }
  & .marketplace__buttons {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    & .all {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Manrope", "Poppins", sans-serif;
      color: $primaryBlackScaleColor;
      font-size: $primarySizeTwo;
      width: 72px;
      background: transparent;
      height: 56px;
      padding: 17.68px 0px;
      border-radius: 13.262px;
      border: 2.21px solid $primaryBlackColor;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.221px;
    }
    & .category {
      @include marketButton;
      @include marketButtonProp;
    }
    & .voice {
      @include marketButton;
      @include marketButtonProp;
    }
    & .price {
      @include marketButton;
      @include marketButtonProp;
    }
  }
  & .marketplace__cards-items {
    display: flex;
    flex-direction: column;
    gap: 67.72px;
    padding-bottom: 103px;
    & .marketplace__card {
      padding: 14.16px;
      width: 282.023px;
      height: 403.564px;
      border-radius: 23.554px;
      background: $primaryWhiteColor;
      box-shadow: 38.94041px 11.80013px 59.00063px 0px rgba(199, 199, 199, 0.6);

      & .card__intro-item {
        background: url(../images/MarketPlace\ Images/first.svg),
          lightgray 50% / cover no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        width: 252.082px;
        height: 253.661px;
        border-radius: 18.843px;

        & .intro-item {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: right;
          position: relative;
          top: 15px;
          left: 120px;
          width: 100%;
          max-width: 120px;
          display: block;
          height: 37.76px;
          padding: 7.44px 14.16px;
          font-size: $primarySizeNine;
          color: $primaryWhiteColor;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 0.118px;
          border-radius: 9.44px;
          border: 1.18px solid rgba(28, 29, 32, 0.08);
          background: rgba(28, 29, 32, 0.35);
          box-shadow: 0px 4.72005px 14.16015px 0px rgba(28, 29, 32, 0.08);
          backdrop-filter: blur(2.36002516746521px);
        }
      }
      & .card-title {
        color: $primaryBlackColor;
        font-size: $primaryScaleOne;
        padding-top: 19px;
        font-weight: 600;
        line-height: 140%;
      }
      & .card__current {
        display: flex;
        flex-direction: column;
        gap: 5px;
        & .current-title {
          color: $primaryWeeklyCardTitle;
          font-size: $primarySizeNine;
          line-height: 150%;
          letter-spacing: 0.118px;
        }
        & .ethereum__item {
          display: flex;
          gap: 3px;
          align-items: center;
          & .current-number {
            color: $primaryBlackColor;
            font-size: $primarySizeThree;
            font-weight: 500;
            line-height: 150%;
          }
        }
      }
    }
  }
  & .collection__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & .collection-btn {
      display: flex;
      text-align: right;
      align-items: center;
      justify-content: flex-end;
      background: transparent;
      gap: 8.32px;
      @include ExploreButton;
    }
    & .button-arrow {
      display: flex;
      align-items: center;
      & .gray-line {
        position: relative;
        left: 8px;
      }
    }
  }
}

.card__row {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .place-bid {
    max-width: 121px;
    color: $primaryWhiteColor;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.118px;
    display: flex;
    border-radius: 11.8px;
    background: $primaryBlackColor;
    justify-content: center;
    align-items: center;
    gap: 11.763px;
    flex: 1 0 0;
    height: 51.921px;
    padding: 9.44px 18.88px;
  }
}

.marketplace__cards-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marketplace__image-two {
  background: url(../images/MarketPlace\ Images/second.svg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 252.082px;
  height: 253.661px;
  border-radius: 18.843px;

  & .intro-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    position: relative;
    top: 15px;
    left: 120px;
    width: 100%;
    max-width: 120px;
    display: block;
    height: 37.76px;
    padding: 7.44px 14.16px;
    font-size: $primarySizeNine;
    color: $primaryWhiteColor;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.118px;
    border-radius: 9.44px;
    border: 1.18px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.72005px 14.16015px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.36002516746521px);
  }
}

.marketplace__image-three {
  background: url(../images/MarketPlace\ Images/third.svg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 252.082px;
  height: 253.661px;
  border-radius: 18.843px;

  & .intro-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    position: relative;
    top: 15px;
    left: 120px;
    width: 100%;
    max-width: 120px;
    display: block;
    height: 37.76px;
    padding: 7.44px 14.16px;
    font-size: $primarySizeNine;
    color: $primaryWhiteColor;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.118px;
    border-radius: 9.44px;
    border: 1.18px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.72005px 14.16015px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.36002516746521px);
  }
}

.marketplace__image-four {
  background: url(../images/MarketPlace\ Images/four.svg),
    lightgray 50% / cover no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 252.082px;
  height: 253.661px;
  border-radius: 18.843px;

  & .intro-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    position: relative;
    top: 15px;
    left: 120px;
    width: 100%;
    max-width: 120px;
    display: block;
    height: 37.76px;
    padding: 7.44px 14.16px;
    font-size: $primarySizeNine;
    color: $primaryWhiteColor;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.118px;
    border-radius: 9.44px;
    border: 1.18px solid rgba(28, 29, 32, 0.08);
    background: rgba(28, 29, 32, 0.35);
    box-shadow: 0px 4.72005px 14.16015px 0px rgba(28, 29, 32, 0.08);
    backdrop-filter: blur(2.36002516746521px);
  }
}

.row-reverse {
  flex-direction: row-reverse;
}

.explore-bottom {
  padding-bottom: 103px;
  border-bottom: 2px solid #cbcbcb;
}

.inner {
  background: $primaryBackground;
  padding-bottom: 180px;

  & .main__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 96px 0px 93px;
  }

  & .inner__content {
    display: flex;
    gap: 281px;
    padding-top: 116px;
    & .inner__just {
      max-width: 461px;
      & .inner__just-title {
        padding-bottom: 45px;
        color: $primaryWeeklyTitleColor;
        font-size: $primarySizeEight;
        font-weight: 600;
        line-height: 54.4px;
        text-transform: capitalize;

        & .just__title-subitem {
          display: block;
          color: $primaryInnerTitle;
          font-weight: 600;
          line-height: 54.4px;
          text-transform: capitalize;
        }
      }
      & .inner__just-list {
        padding-bottom: 70px;
        & .just-menu {
          display: flex;
          flex-direction: column;
          gap: 12px;
          & .just-item {
            font-weight: 400;
            line-height: 32px;
            color: $primaryExploreButton;
            font-size: $primarySizeThree;
            display: flex;
            align-items: center;
            gap: 12px;
          }
          & .just-item::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: url(../images/Inner\ Images/icon.svg);
            background-repeat: no-repeat;
          }
        }
      }
      & .inner__button {
        width: 164px;
        height: 59px;
        background: $primaryNaturalBlack;
        border-radius: 12px;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        & .inner-btn {
          display: flex;
          align-items: center;
          gap: 12px;
          justify-content: center;
          color: $primaryWhiteColor;
          background: transparent;
          font-size: $primaryScaleFour;
          font-weight: 500;
          line-height: 18.45px;
          text-transform: capitalize;
        }
      }
    }
    & .bestsellers__block {
      & .bestsellers__item {
        padding-left: 21.18px;
        width: 322.096px;
        height: 510.06px;
        border-radius: 14.119px;
        border: 0.882px solid $primaryInnerColor;
        background: $primaryWhiteColor;
        box-shadow: 8.82456px 8.82456px 44.12281px 0px rgba(20, 20, 22, 0.1);

        & .bestsellers__item-title {
          width: 110px;
          color: $primaryBlackScaleColor;
          font-size: $primarySizeFive;
          padding-top: 26.47px;
          padding-bottom: 23.54px;
          font-weight: 600;
          line-height: 135%;
          letter-spacing: 0.176px;
        }
        & .bestsellers__items-follow {
          display: flex;
          flex-direction: column;
          gap: 20px;
          & .follow__item {
            display: flex;
            justify-content: space-between;
            & .follow__item-row {
              display: flex;
              gap: 10.45px;
              & .follow__item-image {
                display: flex;
                justify-content: flex-end;
                background: url(../images/BestSellers\ Images/first-avatar.svg);
                width: 50.756px;
                height: 50.756px;
                border-radius: 41.791px;
                background-repeat: no-repeat;
                background-size: cover;
                & .follow-number {
                  display: block;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: $primaryFollowCardItem;
                  color: $primaryWhiteColor;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 17.413px;
                  width: 18px;
                  height: 18px;
                  background: $primaryFollowColor;
                }
              }
              & .follow__item-titles {
                & .follow-titles {
                  & .first-item {
                    color: $primaryFollowColor;
                    font-size: $primaryScaleFive;
                    font-weight: 500;
                    line-height: 20.895px;
                  }

                  & .second-item {
                    color: $primaryFollowColor;
                    font-size: $primaryScaleFive;
                    font-weight: 500;
                    line-height: 20.895px;
                  }
                }

                & .follow-subitem {
                  color: $primaryFollowTwoColor;
                  font-size: $primaryFollowCardItem;
                  font-weight: 400;
                  line-height: 17.413px;
                }
              }
            }
            & .follow {
              margin-top: 3.9px;
              display: flex;
              width: 66px;
              height: 28px;
              background: transparent;
              padding: 6.965px 13.93px;
              justify-content: center;
              align-items: center;
              gap: 10.448px;
              font-family: "DM Sans", "Poppins", sans-serif;
              font-weight: 700;
              font-size: $primaryScaleFive;
              color: $primaryFollowColor;
              line-height: 13.93px;
              border-radius: 6.965px;
              border: 1.741px solid $priamryFollowButton;
              margin-right: 20px;
            }
          }
        }
        & .follow-second {
          display: flex;
          justify-content: flex-end;
          background: url(../images/BestSellers\ Images/second-avatar.svg);
          width: 50.756px;
          height: 50.756px;
          border-radius: 41.791px;
          background-repeat: no-repeat;
          background-size: cover;
          & .follow-number {
            display: block;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $primaryFollowCardItem;
            color: $primaryWhiteColor;
            font-style: normal;
            font-weight: 600;
            line-height: 17.413px;
            width: 18px;
            height: 18px;
            background: $primaryFollowColor;
          }
        }
        & .follow-third {
          display: flex;
          justify-content: flex-end;
          background: url(../images/BestSellers\ Images/third-avatar.svg);
          width: 50.756px;
          height: 50.756px;
          border-radius: 41.791px;
          background-repeat: no-repeat;
          background-size: cover;
          & .follow-number {
            display: block;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $primaryFollowCardItem;
            color: $primaryWhiteColor;
            font-style: normal;
            font-weight: 600;
            line-height: 17.413px;
            width: 18px;
            height: 18px;
            background: $primaryFollowColor;
          }
        }
        & .follow-four {
          display: flex;
          justify-content: flex-end;
          background: url(../images/BestSellers\ Images/four-avatar.svg);
          width: 50.756px;
          height: 50.756px;
          border-radius: 41.791px;
          background-repeat: no-repeat;
          background-size: cover;
          & .follow-number {
            display: block;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $primaryFollowCardItem;
            color: $primaryWhiteColor;
            font-style: normal;
            font-weight: 600;
            line-height: 17.413px;
            width: 18px;
            height: 18px;
            background: $primaryFollowColor;
          }
        }
      }
    }
  }
}

.unfollow {
  margin-top: 3.9px;
  display: flex;
  width: 78px;
  height: 28px;
  padding: 6.965px 13.93px;
  justify-content: center;
  align-items: center;
  gap: 10.448px;
  font-family: "DM Sans", "Poppins", sans-serif;
  font-weight: 700;
  font-size: $primaryScaleFive;
  color: $primaryFollowColor;
  line-height: 13.93px;
  border-radius: 6.965px;
  border: 1.741px solid $priamryFollowButton;
  margin-right: 20px;
}

.bestsellers__block {
  & .recent__block {
    position: relative;
    right: 209px;
    bottom: 150px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 26.37px;
    padding-bottom: 21px;
    max-width: 365px;
    height: 246px;
    border-radius: 16px;
    border: 1px solid $primaryGrayScaleColor;
    background: $primaryWhiteColor;
    box-shadow: 10px 10px 50px 0px rgba(20, 20, 22, 0.1);
    & .recent__info-item {
      display: flex;
      align-items: baseline;
      gap: 132px;
      padding-bottom: 34px;

      & .recent__heading {
        color: $primaryBlackScaleColor;
        font-size: $primaryScaleOne;
        font-weight: 600;
        line-height: 135%;
        letter-spacing: 0.2px;
      }

      & .third-dots {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: $primarySizeSix;
        width: 10.699px;
        height: 24px;
        color: rgba(203, 213, 224, 1);
        padding: 4px 0px;
        background: transparent;
      }
    }

    & .recent__info-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .recent__image-item {
        display: flex;
        align-items: center;
        gap: 24.36px;
        & .reccent-row {
          width: 43px;
          height: 43px;
          background: url(../images/Reccent\ Images/first-reccent.svg);
          background-repeat: no-repeat;
          background-position: calc(100% - 70%);
          border-radius: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;

          & .reccent-number--item {
            padding: 0.92px 3.48px 1.2px 5.64px;
            color: $primaryBlackColor;
            font-size: $primaryScaleThree;
            text-align: center;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.096px;
            border-radius: 100%;
            background: $primaryWhiteColor;
            display: block;
            width: 17.125px;
            height: 17.125px;
          }
        }
      }
      & .recent-subitem {
        display: flex;
        flex-direction: column;
        gap: 7.68px;

        & .recent__card-title {
          color: $primaryBlackColor;
          font-weight: 500;
          line-height: 140%;
          font-size: $primaryScaleFour;
        }

        & .recent__card-subitem {
          font-weight: 400;
          line-height: 150%;
          color: $primaryGrayScaleTwo;
          font-size: $primaryScaleFive;
        }
      }

      & .recent__statisctic {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-end;

        & .recent__statisctic-info {
          display: flex;
          align-items: center;
          gap: 2px;

          & .statistic-number {
            font-weight: 600;
            line-height: 140%;
            font-size: $primaryScaleFour;
            color: $primaryBlackColor;
          }
        }
        & .statistic-percent {
          color: $primaryPercentColor;
          font-size: $primaryPercent;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}

.bestsellers__title-row {
  display: grid;
  grid-template-columns: auto auto;
  & .bestsellers__row-card {
    display: flex;
    position: relative;
    left: 60.18px;
    bottom: 35px;
    justify-content: space-between;
    width: 325.64px;
    height: 84px;
    padding: 11.393px;
    border-radius: 13.291px;
    background: linear-gradient(
      217deg,
      #fcfcfd -0.01%,
      rgba(252, 252, 253, 0.6) 100%
    );
    box-shadow: 0px 18.98773px 28.48159px 0px rgba(70, 70, 70, 0.1);
    backdrop-filter: blur(15.190183639526367px);
    & .row__avatar-item {
      display: flex;
      gap: 11.39px;
      & .black-cirle {
        width: 7.595px;
        height: 7.595px;
        display: block;
        border-radius: 50%;
        background: $primaryBlackColor;
        margin-top: 15.99px;
      }
      & .card__avatar {
        display: flex;
        justify-content: flex-end;
        background: url(../images/BestSellers\ Images/card-avatar.svg);
        width: 39.874px;
        height: 39.874px;
        border-radius: 34.178px;
        & .green__item {
          position: relative;
          left: 4px;
          bottom: 2px;
          background: url(../images/BestSellers\ Images/green-poligon.svg);
          background-position: center;
          background-repeat: no-repeat;
          width: 17px;
          height: 17px;
          & .green-poligon {
            padding: 2px;
            padding-left: 2.85px;
            padding-top: 2.5px;
          }
        }
      }
      & .row__card-info {
        & .info__titles {
          display: flex;
          gap: 5.7px;
          & .info-title {
            color: $primaryRowInfo;
            font-size: $primaryRowTitle;
            font-style: normal;
            font-weight: 500;
            line-height: 22.785px;
          }
          & .info-subitem {
            color: $primaryBlackColor;
            font-size: $primaryRowTitle;
            font-style: normal;
            font-weight: 500;
            line-height: 22.785px;
          }
        }
        & .column__info--item {
          display: flex;
          flex-direction: column;
          color: $primaryBlackColor;
          font-weight: 600;
          line-height: 18.988px;
          font-size: $primaryScaleThree;
          & .data {
            font-size: $primaryScaleThree;
            color: $primaryRowInfo;
            font-weight: 400;
            line-height: 18.988px;
          }
        }
      }
    }
  }
}

.create__sell {
  background: $primaryBackground;
  padding-bottom: 160px;
  & .main__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 96px 0px 93px;
    & .create__intro-content {
      display: flex;
      justify-content: space-between;
      padding-right: 31px;
      padding-bottom: 31px;
      padding-left: 66px;
      padding-top: 44.22px;
      background: $primaryBlackColor;
      border-radius: 30px;
      & .create__intro-block {
        & .create__intro-title {
          color: $primaryWhiteColor;
          font-size: $primaryScaleTwo;
          font-weight: 600;
          line-height: 130%;
          letter-spacing: 0.45px;
          padding-bottom: 12.48px;
        }

        & .create__intro-subtitle {
          font-size: $primaryCreateSubtitle;
          color: $primaryCreateSubColor;
          opacity: 0.6;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: 0.203px;
          padding-bottom: 50.84px;
        }
        & .create__intro-buttons {
          display: flex;
          gap: 30.51px;
          & .create-explore {
            font-family: "Outfit", sans-serif;
            display: flex;
            padding: 19.831px 25.933px;
            justify-content: center;
            align-items: center;
            gap: 15.255px;
            border-radius: 12.204px;
            background: $primaryWhiteColor;
            color: $primaryBlackColor;
            font-size: $primaryCreateButton;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0.214px;
          }

          & .create-sell {
            font-family: "Outfit", sans-serif;
            display: flex;
            padding: 19.831px 25.933px;
            justify-content: center;
            align-items: center;
            gap: 15.255px;
            background: transparent;
            border-radius: 12.204px;
            border: 2.288px solid $primaryWhiteColor;
            font-size: $primaryCreateButton;
            font-weight: 600;
            line-height: 130%;
            color: $primaryWhiteColor;
            letter-spacing: 0.214px;
          }
        }
      }
      & .create__intro-blur {
        border-radius: 15.793px;
        background: url(../images/Create\ Images/Intro-Image.svg), lightgray 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 390px;
        height: 249px;
        & .create__intro-image {
          width: 390px;
          height: 249px;
          & #intro__shadow {
            width: 500px;
            height: 410px;
            position: relative;
            right: 60px;
            bottom: 70px;
          }
        }
      }
    }
  }
}
